{% extends "stock_web/stock.html" %}

{% block content %}

<div class="container-fluid">
{% if warn %}
<h3> {{warn}} </h3>
{% endif %}
<table>
  {% for head, value, url in header %}
    <tr>

      <td><h4>
        {{ head }}
      </h4></td>
      <td><h4>
        {% if url %}
          <a href="{{ url }}">
        {% endif %}
        {{ value }}
        {% if url %}
          </a>
          {% endif %}
       </h4></td>

    </tr>
{% endfor %}
</table>
{% if label %}
<form action="{{ url }}" method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-primary" name="submit" value="Download label.xlsx" />
</form>
{% endif %}
<br>
        {% for tabrow in tabs %}
          <ul class="nav nav-tabs">
            {% for tab in tabrow %}
              <li {% if tab.active %}class="active"{% endif %}>
                <a href="{{ tab.url }}">{{ tab.label }}{% if tab.badge %} <span class="badge">{{ tab.badge }}</span>{% endif %}</a>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}

        <table class="table" >
            <tr class="active" >
                {% for item in headings %}
                <th scope="col">{{ item }}</th>
                {% endfor %}
            </tr>
            {% for row, stripe in body %}
            <tr {% if stripe %}class="active" {% endif %}>
                {% for entry, url, style in row %}
                <td{% if style %} class="{{ style }}"{% endif %}>
                    {% if url %}<a href="{{ url }}">{% endif %}
                    {{ entry }}
                    {% if url %}</a>{% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

<div align="right">
<h1>{{ newinformation }}{% if newinformation.url %}<a href="{{ newinformation.url }}">{% endif %}{{ newinformation.label }}{% if newinformation.url %}</a>{% endif %}</h1>
</div>

{% if track_vol %}
<table class="table" >
	<h1>VOLUMES USED</h1>
	<tr class="active" >
		{% for item in vol_headings %}
		<th scope="col">{{ item }}</th>
		{% endfor %}
	</tr>
	{% for row, stripe in vol_body %}
	<tr {% if stripe %}class="active" {% endif %}>
		{% for entry, url, style in row %}
		<td{% if style %} class="{{ style }}"{% endif %}>
			{% if url %}<a href="{{ url }}">{% endif %}
			{{ entry }}
			{% if url %}</a>{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>

{% endif %}
{% endblock content %}
